@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>The following personal information is collected:</p>
<ul>
    <li>IP addresses used to initiate connections to the website for the purposes of monitoring traffic and security.</li>
    <li>The username and user IDs of any connected services.</li>
</ul>

<p>The following information may be shared with other users:</p>
<ul>
    <li>Information about connected accounts within the access scope granted to the connected service.</li>
</ul>

<p>Any information collected will not be shared with any third party.</p>

<p>At any time you may request termination of your account and the deletion of all information collected.</p>
