@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="panel panel-default">
    <div class="panel panel-heading">Privacy</div>
    <div class="panel-body">
        <p>The following personal information is collected:</p>
        <ul>
            <li>IP addresses used to initiate connections to the site for the purposes of monitoring traffic and security.</li>
            <li>The username and user IDs of any connected services.</li>
            <li>Analytical data obtained within the access scope of any connected services.</li>
        </ul>

        <p>The following information may be shared with other users:</p>
        <ul>
            <li>Information about connected accounts within the access scope of any connected services.</li>
        </ul>

        <p>Any information collected will not be shared with any third party.</p>

        <p>You may request termination of your account and the deletion of all information collected at any time.</p>
    </div>
</div>