@using Newtonsoft.Json.Linq

@{
    ViewData["Title"] = "Subscribers";
}

<div class="panel panel-default">
    <div class="panel panel-heading">Subscribers</div>

    @foreach (JToken sub in ViewBag.Subs) {
        <a href="@("https://twitch.tv/" + (string)sub["user"]["name"])" class="nostyle">
            <div class="panel user-list-item">
                <div class="row row-flex">
                    <div class="col-md-2">
                        <img src="@((string)sub["user"]["logo"])" style="width: 100px;">
                    </div>

                    <div class="row-center vertical-hecking-centered">
                        <div class="col-md-8">
                            <span class="user-list-name">@((string)sub["user"]["display_name"])</span><br />
                            <span class="user-list-desc">@((string)sub["user"]["bio"])</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    }
</div>
        
