<div class="panel panel-warning">
    <div class="panel panel-heading">Under Construction</div>
    <div class="panel-body">
        This section of the website is still under construction. Stay tuned for more content!
    </div>
</div>