/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

body {
    background-color: #cbced9;
}

.navbar {
    background-color: #4c64c1;
}

.navbar-header a{
    color: white !important;
}

.navbar-nav a{
    color: white !important; 
}

.navbar-text {
    color: white !important;
}

.glyphicon-info-sign {
    color: white !important;
}

.panel-default {
    border-color: #4c64c1;
    border-width: 1px;
}

.panel-default .panel-heading {
    background-color: #4c64c1;
    color: white;
}

.panel-heading {
    font-size: 18px;
    text-align: center;
}

.panel-body {
    padding-top: 0px;
}

.panel-warning .panel-heading {
 
}

.panel-warning .panel-body {
    text-align: center;
}

.small-input {
    width: 100px;
}

.row-flex {
    display: flex;
}

.vertical-hecking-centered {
    display: flex;
    align-items: center;
}

.user-list-item {
    padding-right: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #edeef3;
    border-color: #4c64c1; 
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.user-list-name {
    font-size: 20px;
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
}