/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

body {
    background-color: #cbced9;
}

.navbar {
    background-color: #4c64c1;
}

.navbar-nav a{
    color: white; 
}

.panel {
    margin-top: 10px;
    border-radius: 15px;
    border-color: #4c64c1;
    border-width: 1px;
}

    .panel .panel-heading {
        background-color: #4c64c1;
        color: white;
        font-size: 18px;
        text-align: center;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }