/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

body {
    background-color: #cbced9;
}

.navbar {
    background-color: #4c64c1;
}

.navbar-header a{
    color: white !important;
}

.navbar-nav a{
    color: white !important; 
}

.navbar-text {
    color: white !important;
}

.glyphicon-info-sign {
    color: white !important;
}

.panel-default {
    border-color: #4c64c1;
    border-width: 1px;
}

.panel-default .panel-heading {
    background-color: #4c64c1;
    color: white;
}

.panel-heading {
    font-size: 18px;
    text-align: center;
}

.panel-body {
    padding-top: 0px;
}

.user-list-item {
    vertical-align: middle;
}

.user-list-item img {
    width: 100%;
    max-width: 150px;
    vertical-align: middle;
}

.user-list-name {
    padding-top: 130px;
    font-size: 32px;
    vertical-align: middle;
}

.panel-warning .panel-heading {
 
}

.panel-warning .panel-body {
    text-align: center;
}

.small-input {
    width: 100px;
}
