<div class="panel panel-default">
    <div class="panel-heading">Bitbar</div>   
    <div class="panel-body">
        <form method="post" action="Streamkit/BitbarSubmit">
            <div class="form-group">
                <label for="value">Value</label>
                <input type="text" class="form-control" name="value" value="" /><br />
            </div>

            <div class="form-group">
                <label for="maxValue">Max value</label>
                <input type="text" class="form-control" name="maxValue" value="" /><br />
            </div>

            <div class="form-group">
                <label for="color">Color</label>
                <input type="color" name="color" value="" /><br />
            </div>

            <hr />

            <div class="form-group">
                <label for="image">Image file</label>
                <input type="file" name="image">
            </div>


            <div class="container-fluid">
                <div class="col-md-12 text-center">
                    <button class="btn btn-primary">Update</button>
                </div>
            </div>


        </form>
    </div>
</div>