<div class="panel panel-default">
    <div class="panel-heading">Bitbar</div>   
    <div class="panel-body">
        <form method="post" action="">
            <div class="form-group">
                <label for="Value">Value</label>
                <input type="text" class="form-control" name="Value" value="" /><br />
            </div>
            <div class="form-group">
                <label for="MaxValue">Max value</label>
                <input type="text" class="form-control" name="MaxValue" value="" /><br />
            </div>
        </form>
    </div>
</div>