@{
    ViewData["Title"] = "Connect";
}

<div class="connect-service">
    <a href="@ViewBag.TwitchUrl" class="btn btn-primary">Login with Twitch</a>
</div>

<br/>

<partial name="_UnderConstruction" />