@{
    ViewData["Title"] = "Connect";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="connect-service">
    <a href="@ViewData["service_connect_url"]">Twitch</a>
</div>
<div class="connect-service">
    <a href="@ViewData["service_connect_url"]">Google</a>
</div>